<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>C++验证.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OC基础.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>容器vector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>第一章.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A7E0AE31ED6AD6300ED785E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A7E0AF11ED6AE4400ED785E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AAE2F2F1ED81468008C5E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AAE2F3F1ED8424F008C5E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AAE2F4A1ED919DA008C5E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AAE2F551ED91A7A008C5E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AAE2F601ED96BB5008C5E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
